# Created by https://www.toptal.com/developers/gitignore/api/macos,django,python,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,django,python,pycharm

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
