{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ShowMeSchool !!!</title>
    <style>
        html, body {
            height: 100%;
        }

        .wrap {
            position: relative;
            min-height: 100%;
            padding-bottom: 114px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            background-color: lavender;
            width: 100%;
            border-radius: 0px 60px 0px 0px;
            text-align: center;
        }

    </style>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
<div class="wrap">
    <div>
        <div style=" border:4px solid mediumpurple; background-color: mediumpurple">
            <!--검색-->
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search"
                       style="height: 60px ;background-color: floralwhite ;">
                <button class="btn btn-outline-success" type="submit" style="height: 60px ;background-color: lavender">
                    Search
                </button>
            </form>
            <!-- 검색 -->
        </div>

        <!--네비바-->
        <div style="background-color:#7c1772;height: 110px ;border-radius: 0px 0px 0px 60px;">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" width="280px" height="70px"
                                             style="margin-left: 15px;margin-top: 6px" href="www.naver.com"></a>
        </div>
        <!--네비바-->
    </div>

    <!--로그인-->


    {% block content %}
        <div class="container my-3">
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {% include "users/form_errors.html" %}

                <div class="mb-3" style="">
                    <label for="username" style="font-size: 25px">사용자ID</label>
                    <input type="text" class="form-control" name="username" id="username"
                           style="border: 5px Solid mediumpurple"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password" style="font-size: 25px">비밀번호</label>
                    <input type="password"w class="form-control" name="password" id="password"
                           style="border: 5px Solid mediumpurple"
                           value="{{ form.password.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="btn btn-primary"
                        style="border: 5px Solid mediumpurple; background-color:mediumpurple"><strong>로그인</strong>
                </button>
            </form>
        </div>
    {% endblock %}

    <!--로그인-->
    <div class="footer">
        <footer>
            <nav style="margin-top: 1%">
                <a href='https://backendjun.tistory.com' target='_blank'>Blog</a> |
                <a href='https://github.com/PHJ1216' target='_blank'>Github</a>
            </nav>
            <p>

                <span>저자 : ParkHyeonJun</span><br/>
                <span>이메일 :phjapark@naver.com</span><br/>
                <span>Copyright 2023. ParkHyeonJun. All Rights Reserved.</span>
            </p>
        </footer>
    </div>
</div>
</body>
</html>